
article {background: lightgrey;
		font-size: 20px;
		margin-bottom: 0px;
		text-align: center;}

		
header 

h1  { color: rgb(45, 16, 214);
	text-align: center;
	font-size: 50px;
	background-color: aquamarine;
	margin: 0;
	padding: 0;
	}

h2 { color: rgb(245, 19, 19); 
	text-align: center;
	font-size: 34px;
	background-color: bisque;
	margin: 0%;
	padding: 0%;
	;}

nav 
	.id sonido { background-color: yellow;
		align-items: center;}
			  	
	 
	li {display: inline-block;
		color: rgb(24, 1, 233);
		background-color: green ;
		text-align: center;
		margin: 0;
		padding: 10px 10px;
		list-style: none;
		align-items: center ;
		transition: 2s, 1s, 1s;}
	li:hover {
		height: 20px;
		width: 150px;
		color: white;
	}

	.grid-container {
		background-color: rgba(146, 69, 142, 0.363);
		display: grid;
		flex-direction: row;}
	
		 
		
.fondo {
		background: url('../imge/local.jpg') #000;
		height: 100vh;
		width: 100%;
		background-repeat: no-repeat;
		background-size: cover; 
		background-position: center;
		margin: 0;
}
table { background-color: yellow;
		text-align: center;
		margin: 0 auto;}

 a { font-size: 25px;
	color: rgb(255, 0, 34);
	 
	}

footer {text-align: center;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 20px;}

@media screen and (max-width: 460px) {
	.grid-container { background: beige;}
	.table {background-color: aquamarine;}
	.li {flex-direction: column;
		display: flex;}
	}

.parrafo { 
	font-size: 30px;
	color: blue;
	background-color: lightgreen;
	animation-duration: 3s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
}